@import url('https://fonts.googleapis.com/css?family=Almaria');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


$theme-colors: (
   /* "success": #14ec87, */
   "success": #198754,
   /* "primary": #02bfff, */
   "primary": #0d6efd,
   "dark": #2c2b30
);

/* $primary: #02bfff; */
$primary: #0d6efd;
$white: #fff;
// $secondary: $gray-600;
// $success: $green;
// $info: $cyan;
// $warning: $yellow;
// $danger: $red;
// $light: $gray-100;
// $dark: $gray-900;

$font-family-sans-serif: Almaria,
   Roboto,
   // Basic web fallback
   Arial,
   // Linux
   "Noto Sans",
   // Sans serif fallback
   sans-serif,
   // Emoji fonts
   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$border-radius: var(--bs-border-radius-sm);


// Import all of Bootstrap's CSS
@import "./bootstrap/scss/bootstrap";

body {
   letter-spacing: 0.3px;
}


img {
   max-width: 100%;
}

.wow {
   visibility: hidden;
}


.animbtn {
   background-color: #0d6efd;
   transition: background-position .6s cubic-bezier(.16, 1, .3, 1);
   background: linear-gradient(90deg, #498ff7 50%, #0d6efd 0);
   background-size: 200% 100%;
   background-position: 101%;

   &:hover {
      background-position: 0;
   }
}

.cartanimbtn {
   @extend .animbtn;
   background-color: #0d6efd;
   background: linear-gradient(90deg, #0d6efd 50%, #0d6efd00 0);
   background-size: 200% 100%;
   background-position: 100%;
}

header {
   .navbar {
      .container {
         max-width: 100%;

         @include media-breakpoint-up(lg) {
            max-width: 1320px;
         }

         .navbar-nav {
            background-color: $white;
            margin: 0 -12px;

            @include media-breakpoint-up(lg) {
               background-color: transparent;
               margin: 0;

               /* &:hover {
                  .nav-item:not(:hover) {
                     opacity: 0.65;
                  }
               } */

               .nav-item {
                  >a {
                     position: relative;

                     &:after {
                        content: '';
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                        width: 100%;
                        height: 1px;
                        background-color: #FEFEFE;
                        transform-origin: bottom right;
                        transition: transform 0.5s ease;
                        transform: scaleX(0);
                     }

                     &:hover:after {
                        transform-origin: bottom left;
                        transform: scaleX(1);
                     }
                  }
               }

            }

            @include media-breakpoint-down(lg) {
               box-shadow: inset 0 0 8px #c0c0c0;

               li {
                  padding: 0 12px;
                  border-bottom: 1px solid #ededed;

                  a {
                     color: #000 !important;
                  }
               }

            }
         }

         .navbar-toggler:focus {
            box-shadow: none;
         }

         .navbar-toggler[aria-expanded="true"] {
            .navbar-toggler-icon {
               background-image: url(./../img/navhov.svg);
            }
         }

      }
   }


   .navbar-brand {
      max-width: 300px;

      @include media-breakpoint-down(sm) {
         max-width: calc(100% - 72px);
      }
   }


}

.herobg {
   background: linear-gradient(60deg, rgb(0 229 168) 0%, 0%, rgb(3, 138, 246) 0%, rgb(0 229 168) 83.3238%, rgb(2, 186, 194) 100%);
   z-index: -1;
}

.objimg {
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   position: absolute;
}

.herobnrslider {
   .carousel {
      min-height: 34vw;

      @include media-breakpoint-up(lg) {
         min-height: 100vh;
      }
   }
}

.herobnr {
   .carousel-indicators {
      margin-bottom: -20px;
   }

   .carousel-indicators [data-bs-target] {
      width: 12px;
      height: 12px;
      border: 2px solid #fff;
      opacity: 1;
      background-color: transparent;

      &.active {
         background-color: #fff;
      }
   }

   .herotxtin {
      max-width: 500px;

      h1 {
         font-size: clamp(32px, 4vw, 53px);
      }

      button {
         &:hover {
            color: #fff;
         }
      }
   }
}

.services {
   background-color: rgba(207, 244, 252, 0.4);

   .sricon {
      width: clamp(78px, 7vw, 98px);
      height: clamp(78px, 7vw, 98px);
      margin: -60px auto clamp(20px, 6vh, 30px);
      background: #f6f6f6;
      font-size: clamp(42px, 4vw, 60px);
      box-shadow: 0px 5px 16px 0 #d2d2d2;

      @include media-breakpoint-up(xl) {
         line-height: 91px;
      }
   }
}

.products {
   .card {
      .btn:hover {
         // background-color: $primary !important;
         // border: 1px solid $primary !important;
         color: $white !important;
      }

      .starating {
         li {
            margin: 2px;
         }
      }

      .card-title {
         @include media-breakpoint-up(md) {
            min-height: 48px;
         }

         @extend .twolinelimit;
      }
   }
}

.twolinelimit {
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   line-clamp: 2;
   -webkit-box-orient: vertical;
}

.popularart {
   background-color: rgba(207, 244, 252, 0.4);

   .bgshadow {
      height: 40%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 49%, rgba(0, 0, 0, 0) 100%);
      width: 100%;
   }

   .top_txt+.row {
      >.col-12:first-child {
         .card {
            height: 540px;
         }
      }

      >.col-12:nth-child(2) {
         >.row {
            .col-12:first-child .card {
               height: 312px;
            }

            .col-12 .card {
               height: 220px;
            }
         }
      }
   }
}


.recarticel {
   .avatar {
      height: 22px;
      width: 22px;
      overflow: hidden;
   }
}

footer {
   &.py-md-5 {
      padding-bottom: 20px !important;
   }

   .footerlogo {
      width: 250px;
      margin: 40px 0;
   }

   ul {
      li {
         a:hover {
            color: var(--bs-cyan) !important;
         }
      }
   }

   .ftrtop {
      h2 {
         @include media-breakpoint-up(md) {
            max-width: 338px;
         }
      }

      .row {
         @include media-breakpoint-up(lg) {
            max-width: calc(100% - 346px);
         }

         .form-control {
            height: 50px;

            &::placeholder {
               color: #979797;
               opacity: 1;
               text-transform: capitalize;
            }

            &::-ms-input-placeholder {
               color: #979797;
               text-transform: capitalize;
            }
         }

         .btn {
            height: 50px;
            min-width: 105px;
         }
      }
   }
}

#btn-back-to-top {
   position: fixed;
   bottom: 20px;
   right: 20px;
   display: none;
   border: 3px solid #6b9feb;
   width: 54px;
   height: 54px;
   opacity: 0.65;
   transition: 0.5s all;
   z-index: 22;

   &:hover {
      opacity: 1;
   }

   i {
      text-align: center;
      font-size: 30px;
      display: block;
      margin: -6px 0 0 -7px;
   }
}

/* responsivee */

@media(max-width:767px) {
   .mobanimhide {
      overflow-x: hidden;
   }
}